.nav-wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.navbar-fixed {
    height: 140px;
}

nav {
    background: transparent;
    border: none;
    box-shadow: none;
    padding-top: 80px;
}

.nav-wrapper ul li a {
    color: #fafafa;
    font-family: 'Gotham-Light', cursive;
}

.brand-logo {
    width: 80px;
    height: 100%;
}